@use "./base/fonts" as *;
@use "./base/variables" as *;
@use "./base/reset";

body {
    background-color: $beige;
    font-family: Montserrat;
    color: $darkgrey;
    max-width: 1800px;
    margin: 0 auto;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: $beige;
        min-height: 50px;
        
        a {
            text-decoration: none;
            color: $darkgrey;
        }

        .logo {
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
        }

        ul {
            font-size: 0.8rem;
            display: flex;
            margin-right: 20px;
            gap: 60px;

            li:hover {
                text-decoration: underline;
                
            }
        }
    }

    .banner {
        min-height: 300px;
        background-color: $clay;
        background-image: url("../assets/photo-catdog-cropped-2.png");
        background-size: cover;
        background-repeat: no-repeat;
        h1{
            font-size: 3.5rem;
            text-align:center;
            padding-top: 100px;
            color: $base;
        }
    }   

    .about {
        min-height: 350px;
        display: flex;
        width: 80%;
        margin: 0 auto;
        

        section {
            padding: 100px 150px 100px 0px;
            width: 50%;

            h1 {
                font-size: 2rem;
                
            }

            h2 {
                font-size: 1.2rem;
                font-weight: bold;
                margin-top: 30px;
            }

            p {
                margin-top: 25px;
            }

            button {
                margin: 30px 20px 0px 0px;
                height: 35px;
                padding: 0px 20px;
                font-family: Montserrat;
                border-radius: 3px;
                border: none;

                &:hover{
                    transition-duration: 1000ms;
                    background-color: $darkbeige;
                }
            }
        }
        aside {
            padding-top: 100px;
            width: 50%;
            // padding-left: 200px;
            .imageholder {
            max-width: 300px;
            min-width: 200px;
            margin: 0 auto;
                img {
                    border-radius: 500px;
                }
            }
            
        
        }   
    }
}


@media screen and (max-width: 900px) {
    body .about {
        width: 90%;

        section {
            padding-right: 5px;
        }

    }

  }