@use "./base/fonts" as *;
@use "./base/variables" as *;
@use "./base/reset";

body {
    background-color: $beige;
    font-family: Montserrat;
    color: $darkgrey;
    max-width: 1800px;
    margin: 0 auto;

    button {
        margin: 30px 20px 0px 0px;
        height: 35px;
        padding: 0px 20px;
        font-family: Montserrat;
        border-radius: 3px;
        border: none;

        &:hover{
            transition-duration: 1000ms;
            background-color: $darkbeige;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 2rem;
        
    }

    h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: $darkbeige;
        min-height: 50px;
        position: fixed;
        width: 100%;
        z-index: 1;
        
        a {
            text-decoration: none;
            color: black;
        }

        .logo {
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
        }

        ul {
            font-size: 0.8rem;
            display: flex;
            margin-right: 20px;
            gap: 60px;

            li:hover {
                text-decoration: underline;
                
            }
        }
    }

    .banner {
        min-height: 400px;
        background-color: $clay;
        background-image: url("../assets/photo-catdog-cropped-2.png");
        background-size: cover;
        background-repeat: no-repeat;
        h1{
            font-size: 3.5rem;
            text-align:center;
            padding-top: 175px;
            color: $base;
        }
    }   

    .about {
        min-height: 350px;
        display: flex;
        width: 80%;
        margin: 0 auto;
        

        section {
            padding: 80px 150px 100px 0px;
            width: 50%;

            h2 {
                margin-top: 30px;
            }

            p {
                margin-top: 25px;
            }

        
        }
        aside {
            padding-top: 80px;
            width: 50%;
            .imageholder {
            max-width: 300px;
            min-width: 200px;
            margin: 0 auto;
                img {
                    border-radius: 500px;
                }
            }
            
        
        }   
    }

    .animals {
        background-color: $base;
        .container {
            width: 80%;
            margin: 0 auto;

            .above{
                display: flex;
                justify-content: space-between;
                padding-top: 80px;
                
                .titles {
                    h2 {
                        margin-top: 10px;
                    }
                }
            }


            .pictures {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;
                margin-top: 40px;
                padding-bottom: 100px;

                .imageholder {
                    min-width: 275px;
                    p {
                        text-align: center;
                        padding-top: 20px;
                        text-transform: uppercase;
                    }

                    &:hover {
                        cursor: pointer;
                        border: 1px solid $darkgrey;
                        transition-duration: 500ms;
                        box-shadow: 0px 0px 7px 8px #b9b9b9;
                    }
                }
            }

            
        }

    }

    .dogs {
        background-color: $beige;

        .titles {
            text-align: right;
        }
    }

    .footer {
        background-color: $base;
        padding-bottom: 50px;

        .footercontainer {
            margin: 0 auto;
            width: 80%;
            padding-top: 20px;

            .icons {
                text-align: center;
                padding-top: 20px;
                
                svg{
                    margin-left: 20px;
                    font-size: 2em;
                    &:hover {
                        cursor:pointer;
                    }
                }
                a{
                    color: $darkgrey;
                }

            }
            p {
                text-align: center;
                margin-top: 10px;
                font-size: 0.7rem;
            }
        }
    }

    .display {
        min-height: 500px;
        display: flex;

        .filters {
            width: 20%;
            padding: 30px;
            padding-top: 100px;

            .filter {
                margin-bottom: 25px;
                h2 {
                    margin-bottom: 10px;
                }
                button {
                    margin: 5px 5px 0px 0px;

                    &:hover{
                        background-color: $base;
                    }
                    &.selected{
                        background-color: $darkbeige;
                        transition-duration: 1ms;
                    }
                }

            }

            
        }

        .animalGrid {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            padding: 100px 70px; 
            gap: 100px;
            row-gap: 50px;
            justify-content: space-between;
            align-items: flex-start;
            .imageholder{
                min-width: 25%;
                border: 1px solid rgba(0, 0, 0, 0);

                p {
                    text-align: center;
                    text-transform: uppercase;
                    margin: 20px;

                }

                &:hover {
                    cursor: pointer;
                    border: 1px solid $darkgrey;
                    transition-duration: 500ms;
                    box-shadow: 0px 0px 7px 8px #b9b9b9;
                }
            }

        &::after{
            content: "";
            flex:auto;
        }
        }
    }

}


@media screen and (max-width: 1540px) {
    body .animals .container .pictures {
        
            
            .imageholder {
                min-width: 200px;
            }

        }

  }

  @media screen and (max-width: 1100px) {
    body .animals .container .pictures {
        justify-content: center;
            
            .imageholder {
                min-width: 300px;
            }

        }

  }

@media screen and (max-width: 900px) {
    body {
        .about {
            width: 90%;
    
            section {
                padding-right: 5px;
            }
    
        }

        .animals .container{
            width: 90%;
        }

    } 
    

  }